#campus_insert_contents {
    width: 60em;
    margin: auto;
}

#campusID {
    font-size: 1.7em;
    color: lightcoral;
}

input {
    width: 7em;
    height: 4em;
    border-radius : 1em;
    border: none;
    background-color: #e3f2fd;
}

.input-group-text {
    font-size: 1.2em;
}

.button:hover {
    color: lightcoral;
}

.button {
    font-size: 1.2em;
    height: 2.5em;
}

#back {
    position: relative;
    float: left;
    margin-left: 5%;
}

#edit_insertbtn {
    position: relative;
    margin-right: 12%;
}

h1 {
    margin-top: 1.5em;
}
